{{extend 'layout.html'}}

<div class="contentleft">
  <div>
    {{=get_content('maincontent')}}
  </div>
  <blockquote>
    {{=get_content('whyweb2py')}}
  </blockquote>
  <blockquote>
    <h3>{{=T('Recent development')}}</h3>
    {{=code_feed_reader(project='web2py',mode='nodiv')}}  
  </blockquote> 
  <blockquote>
    <h3>{{=T('Latest posts from user forum')}}</h3>
    {{=group_feed_reader(group='web2py',mode='nodiv')}}
  </blockquote> 
</div>

{{block sidebar}}
    {{super}}

<div class="contentright">
  <div class="boxSimple" style="width:160px;height:60px;border:none;text-align:center;margin-top:35px;">
    <object width="234" height="60"><param name="movie" value="http://widget.chipin.com/widget/id/3fd524816850020c"></param><param name="allowScriptAccess" value="always"></param><param name="wmode" value="transparent"></param><param name="color_scheme" value="gray"></param><embed src="http://widget.chipin.com/widget/id/3fd524816850020c" flashVars="color_scheme=gray" type="application/x-shockwave-flash" allowScriptAccess="always" wmode="transparent" width="234" height="60"></embed></object>
  </div> 
  <div class="boxSimple" 
       style="cursor:pointer;background-image:url(http://www3.clustrmaps.com/counter/index2.php?url=http://mdp.cti.depaul.edu);margin-top:35px;"
       onclick="window.open('http://www3.clustrmaps.com/counter/maps.php?url=http://mdp.cti.depaul.edu');">            
  </div>
</div>    
{{end}}
