*.swp
*.pyc

/config.log
/config.status
/autom4te.cache
/Makefile

/build
/dist

/newrelic.egg-info

/test-env
/unit-tests/*/test_*.py.log
/load-tests/test_*.py.log

/package

/python-tools/.installed.cfg
/python-tools/bin/
/python-tools/downloads/
/python-tools/eggs/
/python-tools/parts/
/python-tools/virtualenv-src/
/python-tools/virtualenv-env/
/python-tools/config.h
/python-tools/config.log
/python-tools/config.status
/python-tools/autom4te.cache
/python-tools/Makefile
/python-tools/buildout.cfg
