build
test-env
*.swp
unit-tests/test_*.py.log
load-tests/test_*.py.log
python-tools/.installed.cfg
python-tools/bin/
python-tools/downloads/
python-tools/eggs/
python-tools/parts/
python-tools/tools/
python-tools/virtualenv
php_agent
config.h
