include MANIFEST.in
include README.rst
include VERSION
include LICENSE
include THIRD_PARTY_NOTICES.md
include newrelic/newrelic.ini
include newrelic/common/cacert.pem
include newrelic/packages/requests/LICENSE
include newrelic/packages/requests/NOTICE
include newrelic/packages/requests/cacert.pem
include newrelic/packages/wrapt/LICENSE
include newrelic/packages/wrapt/README
