include MANIFEST.in
include README.rst
include LICENSE
include THIRD_PARTY_NOTICES.md
include newrelic/version.txt
include newrelic/newrelic.ini
include newrelic/common/cacert.pem
include newrelic/packages/wrapt/LICENSE
include newrelic/packages/wrapt/README
include newrelic/packages/urllib3/LICENSE.txt
include newrelic/packages/isort/LICENSE
