# Copyright 2010 New Relic, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
name: Trivy

on:
  pull_request:

concurrency:
  group: ${{ github.ref || github.run_id }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  # Upload Trivy data
  trivy:
    if: success() || failure() # Does not run on cancelled workflows
    runs-on: ubuntu-24.04
    steps:
      # Git Checkout
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Run Trivy vulnerability scanner in repo mode
        if: ${{ github.event_name == 'pull_request' }}
        uses: aquasecurity/trivy-action@76071ef0d7ec797419534a183b498b4d6366cf37 # v0.31.0
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: table
          exit-code: 1
          severity: "CRITICAL,HIGH,MEDIUM,LOW"
          trivyignores: ".github/.trivyignore"

      - name: Run Trivy vulnerability scanner in repo mode
        if: ${{ github.event_name == 'schedule' }}
        uses: aquasecurity/trivy-action@76071ef0d7ec797419534a183b498b4d6366cf37 # v0.31.0
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH,MEDIUM,LOW"
          trivyignores: ".github/.trivyignore"

      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ github.event_name == 'schedule' }}
        uses: github/codeql-action/upload-sarif@39edc492dbe16b1465b0cafca41432d857bdb31a # 3.29.1
        with:
          sarif_file: "trivy-results.sarif"
